<!DOCTYPE html>
<html>
  <head>
    <title>Projects in the Works</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <a href="/">
        <button class="btn btn-warning">
        <h1><strong>Volunteer tracker services</strong></h1>
        </button>
        </a>
      </div>
      <%= yield %>
    </div>
  </body>
</html>