<h1>Add a new Project</h1>

<form action="/projects" method="post">
  <div class="form-group">
    <label for="project_name">Project title</label>
    <input id="project_name" name="project_name" class="form-control" type="text" required>
  </div>
  <button type="submit" class="btn">Add Project</button>
</form>